Toni Alatalo <antont@an.org> antont <antont@5d925edf-2efb-0310-891d-d227fdbe9301>
Min Ragan-Kelley <benjaminrk@gmail.com> benjamin.ragan-kelley <benjamin.ragan-kelley@5d925edf-2efb-0310-891d-d227fdbe9301>
Brian Granger <ellisonbg@gmail.com> <bgranger@5d925edf-2efb-0310-891d-d227fdbe9301>
Dan Milstein <danmil@comcast.net> dan.milstein <dan.milstein@5d925edf-2efb-0310-891d-d227fdbe9301>
Darren Dale <dsdale24@gmail.com> darren.dale <darren.dale@5d925edf-2efb-0310-891d-d227fdbe9301>
Fernando Pérez <fperez.net@gmail.com> <fperez@5d925edf-2efb-0310-891d-d227fdbe9301>
Fernando Pérez <fperez.net@gmail.com> <fptest@5d925edf-2efb-0310-891d-d227fdbe9301>
Fernando Pérez <fperez.net@gmail.com> <fptest1@5d925edf-2efb-0310-891d-d227fdbe9301>
Gael Varoquaux <gael.varoquaux@inria.fr> gael.varoquaux <gael.varoquaux@5d925edf-2efb-0310-891d-d227fdbe9301>
John Hunter <jdh2358@gmail.com> <jdh2358@5d925edf-2efb-0310-891d-d227fdbe9301>
joetest <joetest@5d925edf-2efb-0310-891d-d227fdbe9301>
Jörgen Stenarson <jorgen.stenarson@kroywen.se> jstenar <jstenar@5d925edf-2efb-0310-891d-d227fdbe9301>
Laurent Dufréchou <laurent.dufrechou@gmail.com> <laurent.dufrechou@5d925edf-2efb-0310-891d-d227fdbe9301>
Robert Kern <robert.kern@gmail.com> <rkern@5d925edf-2efb-0310-891d-d227fdbe9301>
tzanko <tzanko@5d925edf-2efb-0310-891d-d227fdbe9301>
Ville M. Vainio <vivainio@gmail.com> vivainio <vivainio@5d925edf-2efb-0310-891d-d227fdbe9301>
Walter Doerwald <walter@livinglogic.de> walter.doerwald <walter.doerwald@5d925edf-2efb-0310-891d-d227fdbe9301>
