#resultIdDiv{
    text-align: center;
}
#resultOut{
    border: 1px solid #999;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
	overflow: auto;
	height: 72%;
	text-align: left;
    font-family: monospace;
}