#resultOut{
    border: 1px solid #999;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
	overflow: auto;
	width: 400px;
	height: 24em;
	text-align: left;
    font-family: monospace;
}
#command {
	text-align: left;
    font-family: monospace;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}
#commandOut{
	text-align: left;
    font-family: monospace;
/*    margin-top: 1em;*/
    overflow: auto;
    height: 10em;

}
#statusWidget {
	text-align: center;
	vertical-align: top;	
    font-family: monospace;
    margin-top: 2em;
}
#statusOut{
	text-align: center;				
	overflow: auto;
	height: 400px;
	width: 360px;
}
#statusTable{
    text-align: center;
	vertical-align: top;	
}
#statusElement{
    border: 1px solid #999;	
	text-align: left;
	vertical-align: top;	
}
#button {
    border: 1px solid #999;
}
#idfield {
    border: 1px solid #999;
}
#idform {
    border: 0px solid #999;
}
#stdin{
	color: green;
	font-weight: bold;
}
#stdout{
	color: blue;
	font-weight: bold;
}
#stderr{
	color: red;
	font-weight: bold;
}