#commandWidget {
	text-align: center;
	border: 1px solid #999;
    font-family: monospace;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}
#commandOut{
	text-align: left;
    font-family: monospace;
/*    margin-top: 1em;*/
    overflow: auto;
    height: 80%;
    width: 80%;
}