body { font-family: Verdana, sans-serif; margin: 0px; padding: 0px }
.userid { font-weight: bold; margin-right: 15px }
.message { font-size: small }
.timestamp { float: right; font-size: x-small; }
h1,h2,h3,h4{padding: 0em; text-align: center; margin-right: 230px;}
form { padding-left: 1em }

/*#inputs{position: fixed; bottom: 1em; left: 1em; background-color: #999;}*/

#content { margin-left: 1em; margin-top: 2em; margin-right: 230px; margin-bottom: 1em; height: 24em; overflow: auto; border: 1px solid #999;}
#nick-change-notification { margin-left: 15px; }

#userlist {
    position: fixed; top: 2em; right: 0px; bottom: 3em; width: 200px;
    background-color: #efefef; padding: 15px; }
#userlist dt { font-weight: bold }
#userlist dd { margin: 0px; padding: 0px; }

