#monitor{
    border: 1px solid #999;
}
#resultIdDiv{
    text-align: center;
}
#resultOut{
    border: 1px solid #999;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
	overflow: auto;
	width: 400px;
	height: 24em;
	text-align: left;
    font-family: monospace;
}
#statusWidget {
	text-align: center;
	vertical-align: top;	
    font-family: monospace;
    margin-top: 2em;
}
#statusOut{
	text-align: center;				
	overflow: auto;
	height: 400px;
	width: 360px;
}
#statusTable{
    text-align: center;
	vertical-align: top;	
}
#statusElement{
    border: 1px solid #999;	
	text-align: left;
	vertical-align: top;	
}
#statusidfield {
    border: 1px solid #999;
}
#statusidform {
    border: 0px solid #999;
}