#resultIdDiv{
    text-align: center;
}
#resultOut{
    border: 1px solid #999;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
	overflow: auto;
	width: 80%;
	height: 80%;
	text-align: left;
    font-family: monospace;
}