body
{
/*  border: thin solid gray;*/
}
/*div
{
    border: thin solid red;
}
*/
/*Notebook Segment*/
table{
    font-size: 12px;
    padding: 2px;
    border-collapse: collapse;
    border: 2px solid;
    width: 100%;
}
table.mainTable
{
    border: 0;
    width: 100%;
    padding: 0;
}
table.mainTable td{border: thin solid gray;}

table.section, table.section td, table.section textarea{
    border-color: #CCCCFF;
}
table.inputCell, table.inputCell td, table.inputCell textarea{
    border-color: #FFAAAA;
}
table.textCell, table.textCell td, table.textCell textarea{
    border-color: #AAFFAA;
}
td.sectionTitle{
    font-weight: bold;
    font-size: 18px;
/*    background: #CCCCFF;*/
    padding: 4px;
/*    height: 1.1em;*/
}
table.section tr.nodeHead{
    background: #CCCCFF;
}
table.inputCell tr.nodeHead{
    background: #FFAAAA;
}
table.textCell tr.nodeHead{
    background: #AAFFAA;
}
td.cellTitle{
    font-weight: bold;
    font-size: 12px;
/*    background: #CCFFCC;*/
    padding: 2px;
}

td{
    border-bottom: thin solid;
}
td.children{
    padding: 2px;
    vertical-align: top;
}

td.nodeHead{
    font-weight: bold;
    text-align: right;
    font-size:10px;
    padding: 2px;
    color: black;
}

span.date{
/*    font-size: 10px;*/
    color: #2222FF;
}

td.nodeActions{
}
table.permission{
    border-color: #EEEEFF;
}
td.tags{
    padding: 2px;
}
td.readers, td.writers{
    font-size: 13px;
    padding: 2px;
    width: 50%;
}
span.tag, span.reader, span.writer{
    font-family: Courier;
    text-decoration: underline;
    color: blue;
}

textarea.comment{
    font-style: italic;
    color: green;
}
textarea.format{
    font-style: italic;
    color: red;
}
table.gap {
    font-size: 11px;
    padding: 16px;
/*    padding-bottom: 4px;*/
    border-color: #EEEEEE;
/*    border: thick solid black;*/
}
div.pageHeader
{
  font-family: Tahoma, sans-serif;
  font-size: 20pt;
  background-color: #DDDDFF;
  border-left: thin solid gray;
  border-right: thin solid gray;
  border-top: thin solid gray;
  padding: 5px;
}
td.sidebar
{
  font-family: Tahoma, sans-serif;
  vertical-align: top;
  padding: 0px;
}

span.controlLink
{
  text-decoration: none;
  cursor: pointer;
  color: blue;
}
td.controlRow
{
    font-family: Tahoma, sans-serif;
    font-size: 10pt;
    padding: 5px;
    border-left: thin solid gray;
    border-right: thin solid gray;
    border-bottom: thin solid gray;
}
td.notebook
{
  vertical-align: top;
  min-height: 400px;
  width: 100%;
  overflow: auto;
  padding: 0px;
  border-left: thin solid gray;
}
td.input, td.output{
    font-family: Courier, monospace;
    font-size: 10pt;
}
div.inLabel
{
  float: left;
  padding: 2px;
  padding-top: 4px;
  color: blue;
}
div.inContent
{
  padding: 2px;
  overflow: hidden;
}
textarea.input
{
  font-family: Courier, monospace;
  font-size: 10pt;
}

div.outLabel
{
  padding: 2px;
  float: left;
  color: red;
}
div.outContent
{
/*  font-family: Courier New, monospace;*/
/*  font-size: 10pt;*/
  padding: 2px;
  float: left;
}


textarea.textData
{
  font-family: Courier, monospace;
  font-size: 10pt;
}
/* -------------- */
textarea
{
  width: 100%;
  border: thin dashed #DDDDFF;
/*  height: 1em;*/
}

textarea.tag, textarea.reader, textarea.writer {
    width: 200px;
    height: 1.2em;
}

/* From MochiKit AJAX Tables example: */
h1 {
/*    font-size: 2em;*/
    color: #4B4545;
    text-align: center;
}

table.nblist {
/*    width: 100;*/
    border-collapse: collapse;
    border-color: #CCCCFF;
    font-weight: bold;
}

table.nblist thead th { 
    text-align: left;
    background-color: #CCCCFF;
    background-repeat: no-repeat;
    background-position: right center;
/*    color: white;*/
    font-weight: bold;
    padding: 4px;
    font-size: 9pt;
/*    font-size: .9em;*/
/*    padding-right: 5px;*/
    background-repeat: no-repeat;
/*    background-position: 95% right;*/
}

table.nblist thead th a {
    text-decoration: none;
/*    font-size: 1.0em;*/
/*    background-repeat: no-repeat;*/
/*    background-position: center right;*/
/*    padding-right: 5px;*/
}

table.nblist thead th.over {
    background-color: white;
    cursor: pointer;
}
table.nblist td {
    font-size: 9pt;
    font-weight: bold;
    padding-right: 4px;
}
table.nblist td.sideDate {
    font-size: 7pt;
}
table.nblist tbody th {
    font-weight: bold;
}

table.nblist tbody td, table.nblist tbody th {
    text-align: left;
    border-bottom: 1px solid #EEEEFF;
}

table.nblist tbody tr.alternate td, table.nblist tbody tr.alternate th {
/*    background-color: #f1f1f1;*/
}

table.nblist tfoot td, table.nblist tfoot th { 
/*    background-color: #FFFEE3;*/
/*    color: #4B4545;*/
/*    padding: .5em;*/
/*    font-weight: bold;*/
/*    border-top: 2px solid #4B4545;*/
}

/*table.nblist tfoot th { text-align: left; }*/

/*table.nblist tfoot td {  }*/

.invisible { display: none; }

.mochi-template { display: none; }
.mochi-example { display: none; }



td.collapse{
  width: 5px; /* width should be same as div.inOut margin-right */
  border: thin solid green;
/*  background-color: white;*/
  cursor: pointer;
}
