body
{
  border: thin solid gray;
}
/*div
{
    border: thin solid red;
}
*/
div.pageHeader
{
  font-family: Tahoma, sans-serif;
  font-size: 20pt;
  background-color: #DDDDFF;
  border-bottom: thin solid gray;
  padding: 5px;
}
table.mainTable
{
    border: thin dashed blue;
    width: 100%;
    padding: 0;
}
td.sidebar
{
  font-family: Tahoma, sans-serif;
  vertical-align: top;
  padding: 0px;
}

span.controlLink
{
  text-decoration: none;
  cursor: pointer;
  color: blue;
}
td.controlRow
{
    font-family: Tahoma, sans-serif;
    font-size: 10pt;
    padding: 5px;
    border-left: thin solid gray;
    border-right: thin solid gray;
    border-bottom: thin solid gray;
}
td.notebook
{
  min-height: 400px;
  width: 100%;
  overflow: auto;
  padding: 5px;
  border-left: thin solid gray;
}
/*
  An ioCell consists of two columns: inOut and collapse
  inOut consists of an inRow and outRow, each of which has its Label and Content
*/
div.ioCell
{
  margin-bottom: 10px;
  font-family: Courier New, monospace;
  font-size: 10pt;
}

div.inOut
{
  margin-right: 10px; /* should be same as div.collapse width plus some spacing (5px)*/
}

div.inRow
{
}
div.inLabel
{
  float: left;
  color: blue;
}
div.inContent
{
  overflow: hidden;
}
textarea.ioCell
{
  font-family: Courier New, monospace;
  font-size: 10pt;
}

div.outRow
{
}
div.outLabel
{
  float: left;
  color: red;
}
div.outContent
{
  overflow: hidden;
}

div.collapse
{
  float: right;
  width: 5px; /* width should be same as div.inOut margin-right */
  border-width: 1px 1px 1px 0px;
  border-style: solid;
  border-color: black;
  cursor: pointer;
}

/*
  A Text Cell consists of two columns: text and collapse
*/
div.textCell
{
  margin-bottom: 10px;
}
div.textCol
{
  margin-right: 10px; /* should be same as div.collapse width plus some spacing (5px)*/
}
textarea.textCell
{
  font-family: Tahoma, sans-serif;
  font-size: 10pt;
}

/*
  A Group consists of two columns: content and collapse
*/
div.group
{
  margin-bottom: 10px;
}
div.content
{
  margin-right: 10px; /* should be same as div.collapse width plus some spacing (5px)*/
}

/* -------------- */
textarea,div.bottom
{
  margin-top: 0px;
  width: 100%;
  border: thin dashed green;
  overflow-x: auto;
  overflow-y: hidden;
}
/* From MochiKit AJAX Tables example: */
h1 {
/*    font-size: 2em;*/
    color: #4B4545;
    text-align: center;
}

table.nblist {
/*    width: 100;*/
    border-collapse: collapse;
}

table.nblist thead th { 
    text-align: left;
    background-color: #CCCCFF;
    background-repeat: no-repeat;
    background-position: right center;
/*    color: white;*/
    font-weight: bold;
    padding: 4px;
    font-size: 9pt;
/*    font-size: .9em;*/
/*    padding-right: 5px;*/
    background-repeat: no-repeat;
/*    background-position: 95% right;*/
}

table.nblist thead th a {
    text-decoration: none;
/*    font-size: 1.0em;*/
    background-repeat: no-repeat;
    background-position: center right;
/*    padding-right: 5px;*/
}

table.nblist thead th.over {
    background-color: white;
    cursor: pointer;
}
table.nblist td {
    font-size: 9pt;
    padding-right: 4px;
}
table.nblist td.sideDate {
    font-size: 7pt;
}
table.nblist tbody th {
    font-weight: bold;
}

table.nblist tbody td, table.nblist tbody th {
    text-align: left;
/*    padding: .3em .7em;*/
    border-bottom: 1px solid #eee;
}

table.nblist tbody tr.alternate td, table.nblist tbody tr.alternate th {
    background-color: #f1f1f1;
}

table.nblist tfoot td, table.nblist tfoot th { 
    background-color: #FFFEE3;
    color: #4B4545;
/*    padding: .5em;*/
    font-weight: bold;
    border-top: 2px solid #4B4545;
}

table.nblist tfoot th { text-align: left; }

table.nblist tfoot td {  }

.invisible { display: none; }

.mochi-template { display: none; }
.mochi-example { display: none; }
